# mysql: MySQL CLI
# mysqld: MySQL Server
# -: 用于命令行的参数
# _: 用于文件的选项参数

# 适用于所有连接客户端 (包括 mysql cli)
[client]
# 设置 MySQL 客户端使用 UTF-8 字符集
# `show variables like 'char%';`
default-character-set = utf8mb4

# 适用于 MySQL 命令行客户端
[mysql]
# 设置 MySQL 客户端使用 UTF-8 字符集
default-character-set = utf8mb4

# 适用于 MySQL 服务端
[mysqld]
# MySQL 服务监听端口
port = 3306
# MySQL 安装目录
# basedir = /usr/
#  MySQL 数据目录
# `show global variables like 'datadir';`
# datadir = /var/lib/mysql/
# 允许最大连接数, 默认: `151`, 最小: `1`, 最大: `100000`
# `show variables like 'max_connections';`
max_connections = 20
# 设置 MySQL 服务端使用 UTF-8 字符集
# `show variables like 'char%';`
character-set-server = utf8mb4
# MySQL 服务端要为每个连接的客户端执行的字符串
init-connect='SET NAMES utf8mb4'
# 设置 MySQL 服务端的字符排序规则
# `show variables like 'collation%';`
collation-server = utf8mb4_unicode_ci
# 设置时区为东八区
default-time_zone = '+8:00'

# ===================== 安装 (Docker) =====================

# 1. 安装镜像
# docker run --name mysql \
# -d \
# --restart=on-failure \
# -p 3306:3306 \
# -v /Users/wxj/Workspace/data/mysql_data:/etc/mysql/conf.d \
# -v /Users/wxj/Workspace/data/mysql_data:/var/lib/mysql \
# -u root \
# -e MYSQL_ROOT_PASSWORD=qwe@123 \
# mysql \
# --character-set-server=utf8mb4 \
# --collation-server=utf8mb4_unicode_ci

# 2. 修改配置文件 (`/Users/wxj/Workspace/data/mysql_data/config-file.cnf`)
# MySQL 会自动整合容器内配置 `/etc/mysql/my.cnf` 与自定义配置文件
