<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.wuxianjie.springrestapi.media.MediaMapper">
  <select id="selectFilePathByFilePathLike" resultType="java.lang.String">
    select file_path as filePath
    from media
    where file_path like #{filePath}
  </select>
</mapper>
