<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.wuxianjie.springrestapi.role.RoleMapper">
  <select id="selectById" resultType="net.wuxianjie.springrestapi.role.Role">
    select id,
           remark,
           name,
           menus,
           parent_id   as parentId,
           parent_name as parentName,
           full_path   as fullPath
    from role
    where id = #{roleId}
  </select>

  <select id="selectExitsByName" resultType="java.lang.Boolean">
    select exists(select 1 from role where name = #{name})
  </select>

  <select id="selectAll" resultType="java.util.LinkedHashMap">
    select id          as roleId,
           remark,
           name,
           menus,
           parent_id   as parentId,
           parent_name as parentName
    from role
  </select>

  <select id="selectByFullPathOrLike" resultType="java.util.LinkedHashMap">
    select id          as roleId,
           remark,
           name,
           menus,
           parent_id   as parentId,
           parent_name as parentName
    from role
    where full_path = #{fullPath}
       or full_path like #{fullPathLike}
  </select>

  <insert id="insert" parameterType="net.wuxianjie.springrestapi.role.Role" useGeneratedKeys="true" keyProperty="id">
    insert into role (created_at, updated_at, remark, name, menus, parent_id, parent_name, full_path)
    values (#{createdAt}, #{updatedAt}, #{remark}, #{name}, #{menus}, #{parentId}, #{parentName}, #{fullPath})
  </insert>

  <update id="updateById">
    update role
    set updated_at  = #{updatedAt},
        remark      = #{remark},
        name        = #{name},
        menus       = #{menus},
        parent_id   = #{parentId},
        parent_name = #{parentName},
        full_path   = #{fullPath}
    where id = #{id}
  </update>
</mapper>
