<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.wuxianjie.springrestapi.role.RoleMapper">
  <select id="selectById" resultType="net.wuxianjie.springrestapi.role.Role">
    select id,
           remark,
           name,
           menus,
           parent_id   as parentId,
           parent_name as parentName,
           full_path   as fullPath
    from role
    where id = #{roleId}
  </select>

  <select id="selectAll" resultType="java.util.LinkedHashMap">
    select id          as roleId,
           remark,
           name,
           menus,
           parent_id   as parentId,
           parent_name as parentName
    from role
  </select>

  <select id="selectByFullPathOrLike" resultType="java.util.LinkedHashMap">
    select id          as roleId,
           remark,
           name,
           menus,
           parent_id   as parentId,
           parent_name as parentName
    from role
    where full_path = #{fullPath}
       or full_path like #{fullPathLike}
  </select>
</mapper>
