<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.wuxianjie.springrestapi.role.RoleMapper">
  <select id="selectFullPathById" resultType="java.lang.String">
    select full_path
    from role
    where id = #{roleId}
  </select>

  <select id="selectById" resultType="net.wuxianjie.springrestapi.role.Role">
    select id,
           remark,
           name,
           menus,
           parent_id   as parentId,
           parent_name as parentName,
           full_path   as fullPath
    from role
    where id = #{roleId}
  </select>

  <select id="selectExitsByName" resultType="java.lang.Boolean">
    select exists(select 1 from role where name = #{name})
  </select>

  <select id="selectExitsByNameIdNot" resultType="java.lang.Boolean">
    select exists(select 1 from role where name = #{name} and id != #{roleId})
  </select>

  <select id="selectExitsByFullPathLike" resultType="java.lang.Boolean">
    select exists(select 1 from role where full_path like #{fullPathPrefix})
  </select>

  <select id="selectByFullPathOrLike" resultType="java.util.LinkedHashMap">
    select id          as roleId,
           remark,
           name,
           menus,
           parent_id   as parentId,
           parent_name as parentName
    from role
    where (full_path = #{fullPath} or full_path like concat(#{fullPath}, '.%'))
  </select>

  <insert id="insert" parameterType="net.wuxianjie.springrestapi.role.Role" useGeneratedKeys="true" keyProperty="id">
    insert into role (created_at, updated_at, remark, name, menus, parent_id, parent_name, full_path)
    values (now(), now(), #{remark}, #{name}, #{menus}, #{parentId}, #{parentName}, #{fullPath})
  </insert>

  <update id="updateById">
    update role
    <set>
      updated_at = now(),
      <if test="remark != null">
        remark = #{remark},
      </if>
      <if test="name != null">
        name = #{name},
      </if>
      <if test="menus != null">
        menus = #{menus},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId},
      </if>
      <if test="parentName != null">
        parent_name = #{parentName},
      </if>
      <if test="fullPath != null">
        full_path = #{fullPath},
      </if>
    </set>
    where id = #{id}
  </update>

  <update id="updateUpdateAtParentNameByParentId">
    update role
    set updated_at  = now(),
        parent_name = #{parentName}
    where parent_id = #{parentId}
  </update>

  <update id="updateFullPathByFullPathLike">
    update role
    set updated_at = now(),
        full_path  = replace(full_path, #{oldFullPathPrefix}, #{newFullPathPrefix})
    where full_path like concat(#{oldFullPathPrefix}, '%')
  </update>

  <delete id="deleteById">
    delete
    from role
    where id = #{roleId}
  </delete>
</mapper>
